<% @folders.each do |f|%>
  console.log("<%= f.name %>")
  var newFolder = new Option("<%= f.name %>", "<%= f.name %>");
  $(".folderlist").append(newFolder);
<% end %>
$(".folder_field").val('');
$('.closemodal').click();
