<% provide(:url, @content_item.url) %>
<% provide(:title, @content_item.name) %>
<% provide(:image, @content_item.thumbnail ) %>
<% provide(:description,@content_item.description) %>
<style>
 .radio-inline, .checkbox-inline, .radio label, .checkbox label {
   padding-left: 0;
  }

  .iCheck-margin {
   margin-right: 5px;
  }
  
  body{
   padding-top: 75px !important;
   background-color:lightgrey !important;
  }
  .content{
   background-color:#fff !important;
  }

  .backimg{
   background-image:url(<%= asset_path("check.png") %>) !important;
   border:0 !important;
  }
  .iradio_square-blue.checked.disabled {
    background-position: -168px 0 !important;
}
.red{
 color:red;
 font-weight:bold;
}
.green{
 color:green;
 font-weight:bold;
}
</style>

<div class="container"> 
  
  <div class="row content ">
   <br><br><br>
   <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12 form-group">
    <% if @content_item.attachment_url.blank? %>
 				<iframe id="videoFrame" frameborder="0" allowfullscreen src="<%= @content_item.url %>" height="440" width="100%" style="border:1px solid lightgrey">
     </iframe>
			<% elsif @content_item.attachment_url.include? ".pdf" %>
				<a href="<%= @content_item.attachment_url %>" target="_blank"><%= image_tag("Pdf.png",  :class =>"img-responsive addNew ") %></a>
			<% elsif @content_item.attachment_url.include? ".ppt" %>
    <a href="<%= @content_item.attachment_url %>" target="_blank" ><%= image_tag("ppt.png",  :class =>"img-responsive addNew ") %></a>
   <% end %>
   <h4><a style="color:#72B5E8" href="<%= @content_item.url %>"><%= @content_item.name %></a></h4>
    <p><%= @content_item.description %></p>
   </div>
  </div>
  
  <div class="row" style="background-color:lightgrey; height:10px">
   
  </div>
  <% if @is_error == true %>
  <div class="row content">
   <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
   <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
    <br>
    <div class="alert alert-danger">You already have done three attempts, so you are not allowed to do more attempts.</div>
   </div>
   <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
  </div>
  
  <div class="row" style="background-color:lightgrey;  height:10px">
   
  </div>
  
  <% end %>
  <% if @is_error == false %>
  <% if @questions.size >0 %>
  <div class="row content">
   <div class="col-lg-5 col-lg-offset-1 col-md-offset-1 col-md-5 col-sm-7 col-xs-8">
    <h3> 
     <input type="checkbox" checked id="read" /> Readiness Check
    </h3>
   </div>
   <div class="col-lg-5 col-lg-offset-1 col-md-offset-1 col-md-5 col-sm-5 col-xs-4" style="text-align:right;padding-top:10px">
    <% if @showresult==true %>
    <h4> You have scored <br/> <span style="font-weight:600;font-size:24px"><%= @points %> Points</span></h4>
    <% end %>
    
   </div>
  </div>
  <% end %>
  <div class="row" style="background-color:lightgrey;  height:10px">
   
  </div>
  
  <div class="row content questions">
   <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
   <%= form_tag save_check_readiness_path :method => :post do %>  
     <% @count = 0 %>
     <% @questions.each do |question| %>
     <%= fields_for "answers[#{@count}]", @answers[@count] do |f1| %>
      <%= f1.hidden_field :question_id, :value =>question.id %>
      <div class="row">
       <div class="col-xs-12">
        <h4><%= @count + 1 %>. <%= question.name %></h4>
        <div class="form-group <%= get_answer_css(@showresult,@answers[@count].given_answer,question.answer,'A') %>"> 
          <%= f1.radio_button :given_answer, "A" ,:disabled => @showresult == true  %>
          <%= question.choice_a %>
        </div>
        <div class="form-group <%= get_answer_css(@showresult,@answers[@count].given_answer,question.answer,'B') %>" > 
         <%= f1.radio_button :given_answer, "B" ,:disabled => @showresult == true  %><%= question.choice_b %>
        </div>
        <div class="form-group <%= get_answer_css(@showresult,@answers[@count].given_answer,question.answer,'C') %>" > 
         <%= f1.radio_button :given_answer, "C" , :disabled => @showresult == true%><%= question.choice_c %>
        </div>
        <div class="form-group <%= get_answer_css(@showresult,@answers[@count].given_answer,question.answer,'D') %>" > 
         <%= f1.radio_button :given_answer, "D" ,:disabled => @showresult == true %><%= question.choice_d %>
        </div>    
        <hr>
      </div>
     </div>
     <% end %>
     <% @count = @count+1 %>
     <% end %>
     
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="padding-top:5px">
      <% if @showresult == false %>
       <% if @questions.size > 0 %>
       <button class="btn btn-primary">Done</button> &nbsp;
       <% end %>
       <a href="/cancelreadiness?id=<%= @readiness_event.id %>"><button type="button" class="btn btn-default">Cancel</button></a>
      <% else %>
      <%= link_to '<button type="button" class="btn btn-primary">Close</button>'.html_safe, readinessactivity_path, class:"myBtn" %>
      <% end %>
      <div class="form-group"></div>
     </div>
    <% end %>
  </div>
  </div>
  <% end %>
  <br><br><br>
  
 </div>
 
 <script>
 $(document).ready(function () {
   // Init check box and radio button ui 
   initCheckbox();     
   
  });
 
  function initCheckbox(){
   $('input').iCheck({
    checkboxClass: 'icheckbox_minimal-blue',
    radioClass: 'iradio_minimal-blue',
    checkboxClass: 'icheckbox_square-blue iCheck-margin',
    radioClass: 'iradio_square-blue iChk iCheck-margin'
   });
   
   $('#read').parent().css({'height':'50px', 'width':'50px', 'background':'#fff','border':'2px solid green', 'border-radius':'25px'});
   $('#read').parent().toggleClass("backimg");  
   $('input#read').on('ifChanged', function (event) {
    $('.questions').toggle();    
    $('#read').parent().toggleClass("backimg");   
   });
  }
 </script>