<style>
body {
			background: #f1f1f1 none repeat scroll 0 0;
			padding-top: 100px !important;
		}
		.main-container{
			background-color: #fff;
			margin-bottom: 50px;
		}
		hr{
			margin-bottom:0;
		}
		.image {
			margin-top:20px;
		}
		.table tbody th {
			border-top:0 !important;
			border-bottom: 1px solid #ddd !important;
		}
		.table tbody td {
			color:grey;
		}
		.table tbody td img {
			height: 35px !important;
			width: 40px;
		}
		.content-info h3 {
			font-weight:bold;
		}
		.content-info h4 {
			color: highlight;
			font-weight: bold;
		}
		
		.heding {
			color: grey;
			font-size: 18px;
			font-weight: bold;
			left: 20px;
			position: relative;
			top: 20px;
		}
		/* Pie Chart */
		.progress-pie-chart {
		  width:200px;
		  height: 200px;
		  border-radius: 50%;
		  background-color: #E5E5E5;
		  position: relative;
		}
		.progress-pie-chart.gt-50 {
		  background-color: #81CE97;
		}

		.ppc-progress {
		  content: "";
		  position: absolute;
		  border-radius: 50%;
		  left: calc(50% - 100px);
		  top: calc(50% - 100px);
		  width: 200px;
		  height: 200px;
		  clip: rect(0, 200px, 200px, 100px);
		}
		.ppc-progress .ppc-progress-fill {
		  content: "";
		  position: absolute;
		  border-radius: 50%;
		  left: calc(50% - 100px);
		  top: calc(50% - 100px);
		  width: 200px;
		  height: 200px;
		  clip: rect(0, 100px, 200px, 0);
		  background: #81CE97;
		  transform: rotate(60deg);
		}
		.gt-50 .ppc-progress {
		  clip: rect(0, 100px, 200px, 0);
		}
		.gt-50 .ppc-progress .ppc-progress-fill {
		  clip: rect(0, 200px, 200px, 100px);
		  background: #E5E5E5;
		}
		/*
		.ppc-percents {
		  content: "";
		  position: absolute;
		  border-radius: 50%;
		  left: calc(50% - 173.91304px/2);
		  top: calc(50% - 173.91304px/2);
		  width: 173.91304px;
		  height: 173.91304px;
		  background: #fff;
		  text-align: center;
		  display: table;
		}*/
		.ppc-percents {
			background: #fff none repeat scroll 0 0;
			border-radius: 50%;
			content: "";
			display: table;
			height: 110px;
			left: calc(50% - 110px / 2);
			position: absolute;
			text-align: center;
			top: calc(50% - 110px / 2);
			width: 110px;
		}
		.ppc-percents span {
		  display: block;
		  font-size: 1.6em;
		  font-weight: bold;
		  color: grey;
		}

		.pcc-percents-wrapper {
		  display: table-cell;
		  vertical-align: middle;
		}
		/*
		.progress-pie-chart {
		  margin: 50px auto 0;
		}*/
		.progress-pie-chart {
			left: 50%;
			margin-left: -100px;
			margin-top: 25px;
		}
</style>
<div class="container">
	<div class="row">
		<div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10 main-container">
			<div class="row">
				<div class="col-lg-9 col-md-9 col-sm-8 col-xs-8 content-info">
					<h3><%= @readiness_event.post %></h3>
					<h4><%= @readiness_event.content_item.name %></h4>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">						
					<div class="image">
						
						<a class="video" href="javascript:void(0);" style="cursor:default">								
							<% if @readiness_event.content_item.attachment_url.blank? %>
								<%= image_tag("play-icon.png",  :class =>"img-icon img-responsive") %>
								<img src="<%= @readiness_event.content_item.thumbnail %>" class="img-responsive">
							<% elsif @readiness_event.content_item.attachment_url.include? ".pdf" %>
								<%= image_tag("Pdf.png",  :class =>"img-responsive addNew ") %>
							<% elsif @readiness_event.content_item.attachment_url.include? ".ppt" %>
								<%= image_tag("ppt.png",  :class =>"img-responsive addNew ") %>
							<% end %>
						</a>
					</div>
				</div>
			</div>		
				
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<hr style="border-width: 3px 0 0;"/>
				</div>
			</div>
				
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<!-- Items -->
					<div class="row">
						<div class="col-lg-6 col-md-6">
							<span class="heding">Viewed</span>
							<!-- Viewed Pie Chart -->
							<div id="viewedChart" class="progress-pie-chart" data-percent="<%= @view_score %>">
								<div class="ppc-progress">
									<div class="ppc-progress-fill"></div>
								</div>
								<div class="ppc-percents">
									<div class="pcc-percents-wrapper">
										<span>%</span>
									</div>
								</div>
							</div>
							<!--End Chart -->
						</div>
							
						<div class="col-lg-6 col-md-6">
							<table class="table table-condensed">
							<thead>
								<tr>
									<th></th>
									<th>Name</th>
									<th>Viewed</th>
								</tr>
								</thead>
								<% @viewed_users.each do |reval| %>	
								<tr>
									<td><img src="<%= reval.user.profile_image %>"/></td>
									<td><%= reval.user.name %></td>
									<td><%= reval.created_at.strftime("%m/%d/%y") %></td>
								</tr>
								<% end %>
							</table>
							<!--	
							<div class="pull-right" style="margin-right:20px">
								<a style="color:gray"> View all </a>
							</div>
							-->
						</div>
					</div>
					<hr>
					<!-- End item -->
						
					<!-- Items -->
					<div class="row">
						<div class="col-lg-6 col-md-6">
							<span class="heding">Ready</span>
							<!-- Ready Pie Chart -->
							<div id="readyChart" class="progress-pie-chart" data-percent="<%= @completed_score %>">
								<div class="ppc-progress">
									<div class="ppc-progress-fill"></div>
								</div>
								<div class="ppc-percents">
									<div class="pcc-percents-wrapper">
										<span>%</span>
									</div>
								</div>
							</div>
							<!--End Chart -->
						</div>
						<div class="col-lg-6 col-md-6">
							<table class="table table-condensed">
								<thead>
									<tr>
										<th></th>
										<th>Name</th>
										<th>Score</th>
									</tr>
								</thead>
								<% @complete_users.each do |eval| %>	
								<tr>
									<td><img src="<%= eval.user.profile_image %>"/></td>
									<td><%= eval.user.name %></td>
									<td><%= eval.score %></td>
								</tr>
								<% end %>
							</table>
							<!--	
							<div class="pull-right" style="margin-right:20px">
								<a style="color:gray"> View all </a>
							</div>
							-->
						</div>
					</div>
					<hr>
					<!-- End item -->
				</div>
			</div>
		</div>
	</div>
</div>
	
	<script>
		$(function(){
		   
		   initViewedChart();
		   initReadyChart();
		});
   
		function initViewedChart(){
			var $ppc = $('#viewedChart');
			
			percent = parseInt($ppc.data('percent'));
			deg = 360*percent/100;
			if (percent > 50) {
				$ppc.addClass('gt-50');
			}
			
			$ppc.find('.ppc-progress-fill').css('transform','rotate('+ deg +'deg)');
			$ppc.find('.ppc-percents span').html(percent+'%');
		}
		
		function initReadyChart(){
			var $ppc = $('#readyChart');
			
			percent = parseInt($ppc.data('percent'));
			deg = 360*percent/100;
			if (percent > 50) {
				$ppc.addClass('gt-50');
			}
			
			$ppc.find('.ppc-progress-fill').css('transform','rotate('+ deg +'deg)');
			$ppc.find('.ppc-percents span').html(percent+'%');
		}
	</script>