<style>
.required{
		border-color: #a94442;
	}
</style>
<br>
<div class="container-fluid">
 <div class="row">
   <div class="col-xs-12 col-md-offset-2 col-md-8">
     <%= form_for @faq, :url => {:action => "savefaq"} do |f| %>
     <div class="form-group">
        <label for="title" class="required">Question</label>
        <%= f.text_field :question,class: 'form-control myRequired', :placeholder => "Question" %>
      </div>
      <div class="form-group">
        <label for="description">Tags</label>
        <input id="input-tag" class="form-control" type="text" data-role="tagsinput" value="<%= @faq.tags %>"/>
        <%= f.hidden_field :tags ,class: 'tags_field' %>
      </div>
      
      <button type="submit" onclick="return validate()"  class="btn btn-primary">Save</button>
     <% end%>
     
     <hr>
     <h4>All FAQs</h4>
     <table class="table table-condensed">
       <thead>
         <tr>
           <th>Question</th>
           <th>Tags</th>
         </tr>
       </thead>
       <% @faq_list.each do |faq|%>
       <tr>
         <td><%= faq.question %> </td>
         <td><%= faq.tags %></td>
       </tr>
       <% end %>
     </table>
   </div>
  </div>
</div>
<script>
function validate(){
  settags();
  var isValid = true;
  $(".myRequired").each(function(){
    if($(this).val() ==''){
      isValid = false;
      $(this).addClass('required')
    }else{
      $(this).removeClass('required')
    }
  });
  return isValid;
}
function settags(){
  $(".tags_field").val($("#input-tag").val());
  console.log($(".tags_field").val())
}
</script>