console.log('----');
var tags='';
<% @tages.each do |t| %>
var tag = "<%= t %>";
tag = tag.replace("&amp;","&");
tags += tag+",";
<% end %>
$(".tags").val(tags);
$(".bootstrap-tagsinput").find('input').val(tags);
$(".bootstrap-tagsinput").find('input').blur();
var summary = '';
<% @summary.each do |s| %>
summary += "<%= s %>\n";
<% end %>
if(summary!=''){
  summary =summary.substring(0,summary.length-1);
}
$(".content_description").val(summary);

