<style>
body{
	background: #f1f1f1 none repeat scroll 0 0 !important;
}
.search_panel{
  display:inline !important;
}
.add-new {
   text-decoration:none !important;
   cursor:pointer !important;
   border:1px dashed lightgrey !important;
   background-color: #fff;
   color:black;
   display: block;
  }
  .add-new h4 {
   
  }
  .add-fav .glyphicon-ok {
   font-size: 20px;
   padding: 15px 15px 15px 0;
  }
  .add-fav i {
   font-size: 20px;
   padding: 15px 15px 15px 0;
  }
  .addNew {
   min-height: 190px;
   max-height: 190px;
  }
  .item {
    	margin:15px 5px;
  }
  .description {
			margin: 5px;
		}
		
		.description h4, .description p {
			margin: 0;
		}
		.action-control{
			display:inline-block;
		}
		.add-fav i {
			padding:0 !important;
		}
		.date{
			margin:0 !important;
		}
		.action-control a {
			padding:5px;
		}
 .image{
   min-height:190px;
  }
  .image h5{
   margin:10px 10px; text-align:left; font-size:17px; text-align:justify; color:grey;
  }
</style>
<% @counter=1 %>
<% unless @content_map.blank? %>
<% @content_map.each do |folder, content_items|%>
<% if content_items.size >0 %>
<div class="container">
		<h3 class="section-title text-left">
			<span><%= folder %></span>
		</h3>
		<div id="content<%= @counter %>" class="owl-carousel owl-theme"> <% @counter = @counter +1 %>
			<% if @allow_admin == true %>
			<div class="item" style="background:white">
				<a class="add-new" href="/newcontent?folder=<%= folder %>">    
					<div class="image">
						<%= image_tag("add-new.png",  :class =>"img-responsive addNew") %>
					</div>
					<div class="description">
						<h4 class="text-center">
							Add New
						</h4>
					</div>
					<div style="min-height:28px;"></div>
			    </a>
			</div>
			<% end %>
			<% content_items.each do |content_item| %>
				<div class="item">
	        <div class="product">                
	          <div class="image">
							<% if content_item.item_type == 'Video' %>
								<a class="video"  href="/viewcontent?id=<%= content_item.id %>">
									<%= image_tag("play-icon.png",  :class =>"img-icon") %>
									<img src="<%= content_item.thumbnail %>" class="img-responsive" style="width:100%;min-height:190px;max-height:190;">
							  </a>
							<% elsif content_item.item_type == 'HTML' %>
								<h5><%= truncate content_item.description, length: 100 %></h5>
							<% elsif content_item.item_type == 'PPT' %>
								<%= image_tag("ppt.png",  :class =>"img-responsive addNew ") %>
							<% else %>
								<%= image_tag("Pdf.png",  :class =>"img-responsive addNew ") %>
							<% end %>
						</div>
	        	<div class="description">
	            <h4>
								<% if content_item.item_type == 'Video' %>
									<a href="/viewcontent?id=<%= content_item.id %>"><%= truncate content_item.name, length: 42 %>  </a>
								<% else %>
									<%= truncate content_item.name, length: 42 %>
								<% end %>
							</h4>
	          </div>					
						<div class="action-control">
							<a class="add-fav tooltipHere">
								<i class="glyphicon glyphicon-heart"></i>
							</a>
							<% if @allow_admin == true %>
								<a class="add-fav tooltipHere" href="/readinessevent?id=<%= content_item.id %>">
									<i class="glyphicon glyphicon-ok"></i>
								</a>
							<% end %>
							<% if !content_item.attachment_url.blank? %>
								<a class="add-fav tooltipHere" href="<%= content_item.attachment_url %>" target="_blank">
		   						<i class="fa fa-download"></i>
		  					</a>
							<% end %>
							<a class="pull-right date"><%= content_item.created_at.strftime("%m/%d/%y") %> </a>
						</div>
	        </div>
	      </div>
      <% end %>
		</div>
    <legend></legend>
  </div> 
	<% end %>
	<% end %>
	<% end %>
 <% if @content_map.blank? %>
		<div class="container">
				<h4>No content avialable. <a href="/newcontent?folder=Trending Videos"> Add New </h4>
		</div>	
<% end %>


<script>
//Sort random function
		function random(owlSelector){
			owlSelector.children().sort(function(){
				return Math.round(Math.random()) - 0.5;
			}).each(function(){
			  $(this).appendTo(owlSelector);
			});
		}
  
		function initSlider(){
			
			$("#owl-slider").owlCarousel({
				items : 1,
				autoHeight : false,
				lazyLoad : true,
				//navigation : true,		
				pagination : false,
				paginationNumbers: false,
				//autoPlay: true,
				//autoPlay : 7000,
				itemsDesktop : [1000,1], // 1 items between 1000px and 901px
				itemsDesktopSmall : [900,1], // 1 items betweem 900px and 601px
				itemsTablet: [700,1], // 1 items between 600 and 480
				itemsMobile : [479,1] , // 1 item between 479 and 0
			
				/*navigationText: [
				  "<i class='glyphicon glyphicon-chevron-left'></i>",
				  "<i class='glyphicon glyphicon-chevron-right'></i>"
				  ],
				beforeInit : function(elem){
				  //Parameter elem pointing to $("#owl-slider")
				  random(elem);
				}*/
			});
		}
		
		// ************** Content sliders ****************** //
		function initContent1(){
			<% @i = 1
				while @i < @counter do
					
			%>
			$("#content<%= @i %>").owlCarousel({
				navigation: false, // Show next and prev buttons
				items: 4,
				dots: false,
				lazyLoad : true,
				navigation : true,		
				pagination : false,
				paginationNumbers: false,				
				itemsDesktop : [1000,4], // 4 items between 1000px and 901px
				itemsDesktopSmall : [900,4], // 4 items betweem 900px and 601px
				itemsTablet: [700,2], // 4 items between 600 and 480
				itemsMobile : [479,2] , // 4 item between 479 and 0	
				//autoPlay: true,
				//autoPlay : 3000,
				
				navigationText: [
				  "<i class='glyphicon glyphicon-chevron-left'></i>",
				  "<i class='glyphicon glyphicon-chevron-right'></i>"
				  ]
				/*
				beforeInit : function(elem){
				  //Parameter elem pointing to $("#owl-slider")
				  random(elem);
				}	
				*/
			});
			<% 
			@i = @i+1
			end %>
		}
		
		
		
		
		
		$(document).ready(function () {     
			$(".content").addClass("active");
			initSlider();
			
			initContent1();
			
			
      
      <% @i = 1
				while @i < @counter do
					
			%>
      setHeight('content<%= @i %>');
      <%
      @i = @i+1
      end
      %>
    
		});
		
		function setHeight(contentId){
			var height=0;
			if($("#"+contentId).find('.description') !=undefined){
				$("#"+contentId).find('.description').each(function(){
					if(height < $(this).height())
						height =$(this).height(); 
				})
				$("#"+contentId).find('.description').css('min-height',height);
			}
		}
</script>