<style>
body{
	background: #f1f1f1 none repeat scroll 0 0 !important;
}
.navbar{
  display:none;
}
</style>


<div class="container">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
			<br>
			<br>
			<h1 class="">Welcome to Salesica</h1>
			<br><br><br><br><br>
			<%= link_to '<button class="btn btn-primary btn-lg">Click here to login</button>'.html_safe, "/auth/salesforce", class:"myBtn" %>
			<br><br><br><br>
			
		</div>
		<% if @show_logout_message == true %>
		<div class="col-lg-4 col-sm-offset-3 col-md-4 col-md-offset-4 col-sm-6 col-xs-12 text-center">
			<div class="alert alert-success">You have Successfully Logged Out!</div>
    </div>
    <% end %>
	</div>
</div>

<iframe style="display:none;" src="<%= @logout_url %>"/>