<style>
  .inner-addon { 
      position: relative; 
  }
  
  /* style icon */
  .inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
  }
  
  /* align icon */
  .left-addon .glyphicon  { left:  0px;}
  .right-addon .glyphicon { right: 0px;}
  
  /* add padding  */
  .left-addon input  { padding-left:  30px; }
  .right-addon input { padding-right: 30px; }
  .vedioRow{
    padding:16px;
    paddin-top:0px;
    display:none;
  }
  .formSection{
    background-color:#EEEEEE;
    padding: 4px;
    margin-top:1px;
  }
  .btnPnl{
    margin-top:30px;
  }
  .btnPnl .btn{
      width: 125px;
  }
  .headerRow{
    background-color:#EEEEEE;
  }
    .menu ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #f3f3f3;
    }
    
   .menu li {
        float: left;
        text-align:center;
    }
    
    .menu li a {
        display: inline-block;
        color: #666;
        text-align: center;
        padding: 10px 0px;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    .menu li a:hover {
        background-color: #f3f3f3;
    }
    .collapseImg{
      display:none;
    }
    
    .menu ul {
      overflow: visible;
    }
    .menu li {
      padding:0;
    }
    .menu li a {
      display: block;
    }
      .active-dot{
      font-size:13px !important;
      display:none;
      left: 50%;
      margin-top: -8px;
      margin-left: -8px;
      position: absolute;
      top: 100%;	
      z-index: 999;
      }
      .navbar ul > .active > i {
        display:block;
        }
        .menu li {
         float: left;
         text-align: left;
        }
        .menu li a {
         padding: 10px 20px;
         text-align: left;  
        }
       .required{
      		border-color: #a94442;
      	}
      	.myicons{
      	  border: solid 1px lightgray;
          border-radius: 50%;
          height: 46px;
          padding: 4px;
          margin-left: 7px;
      	}
</style>
<div style="border:0px;margin-bottom:0px;" class="navbar menu">
  <ul class="row navbar-nav" style="width:100%">
    <li class="col-xs-12 col-md-offset-2 col-md-8">
     <a href="#">
      Add New 
     </a>
    </li>  
  </ul>
 </div>
 
<div class="container-fluid  myRequiredPnl" style="display:none">
  <div class="row">
   <div class="col-xs-12 col-md-offset-2 col-md-8">
     <div class="alert alert-danger">
        The form contains following error(s).
        <ul>
        </ul>
      </div>
   </div>
 </div>
</div> 
<%= form_for @content_item, :url => {:action => "savecontent"} do |f| %>
<div class="container-fluid">
 <div class="row">
   <div class="col-xs-12 col-md-offset-2 col-md-8">
      <button class="btn btn-primary" onclick="$('.filebutton').click();return false;">
        <span class="fa fa-upload"></span>  Upload file	
      </button>
      
      
      
      <%= image_tag("box.png",:class =>"myicons") %>
      <%= image_tag("drive.png",:class =>"myicons") %>
      <%= image_tag("salesforce.png" ,:class =>"myicons") %>
      
      <div class="fileName" style="padding-top:10px;font-weight:bold;"></div>
      <div style="display:none">
        <%= f.file_field :attachment , class: "filebutton" ,:input_html => {:onchange => "setFileName(this)"} %>
      </div>
      <br>
      Or
      <br><br>
    </div>
</div> 
<div class="row">
  <div class="col-xs-12 col-md-offset-2 col-md-8">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <% if @content_item.errors.any? %>
    <div>
      <div class="alert alert-danger">
        The form contains <%= pluralize(@content_item.errors.count, "error") %>.
        <ul>
      <% @content_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
      </div>
      
    </div>
  <% end %>
    
    <div class="form-group">
        <div class="input-group" style="width:100%">
      		<%= f.select(:content_type, ['Video', 'HTML','PDF','PPT','DOC'], {}, { :class => 'form-control contentType',:style=>'width:25%; float:left' }) %>
      		<div class="inner-addon left-addon" style="width:75%; float:right">
        		<i class="glyphicon glyphicon-search" style="position:absolute;z-index:99;"></i>
        		<%= f.text_field :url,class: 'form-control contentUrl', :placeholder => "URL" %>
      	  </div>
      	</div>
      	<div class="row vedioRow" >
          <div class="col-xs-12 col-md-10" style="padding:0px">
            <iframe id="contentFrame" width="100%" height="315" style="border: 0px;"
              src="">
            </iframe>
          </div>
        </div>
      </div>
      
      
      <div class="formSection">
        <div class="form-group">
          <label for="title" class="required">Title</label>
          <%= f.text_field :name,class: 'form-control myRequired', :placeholder => "Title" %>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <%= f.text_area :description, class:'form-control content_description' %>
        </div>
        <div class="form-group">
          <label for="folder" class="required">Folder</label>
          <div class="input-group">
            <%= f.select(:folder, @all_folders.map{ |value| [ value.name, value.name ] }, {}, { :class => 'form-control folderlist' }) %>
            <a class="input-group-addon" data-toggle="modal" data-target="#modalAddFolder">
          	  <span class="glyphicon glyphicon-plus-sign" style="font-size:18px"></span>
            </a>
           </div>
        </div>
        
        <div class="form-group">
          <label for="tags">Tags</label>
            <input id="input-tag" class="form-control tags" type="text" data-role="tagsinput" value="<%= @content_item.tags %>"/>
          
          
          <%= f.hidden_field :tags ,class: 'tags_field' %>
        </div>
        
        <!--
        <div class="form-group">
          <label for="type">Type</label>
          <div class="radio">
            <label>
              <%= f.radio_button :content_type, "Whitepaper" %> Whitepaper
            </label>
          </div>
          <div class="radio">
            <label>
              <%= f.radio_button :content_type, "PPT" %> PPT
            </label>
          </div>
          <div class="radio">
            <label>
              <%= f.radio_button :content_type, "Customer Story" %> Customer Story
            </label>
          </div>
          <div class="radio">
            <label>
              <%= f.radio_button :content_type, "Competitive" %> Competitive
            </label>
          </div>
        </div>
        
        <div class="form-group">
          <label for="buyingstage">Buying Stage</label>
          <div class="radio">
            <label>
              <%= f.radio_button :buying_stage, "Whitepaper" %> Whitepaper
            </label>
          </div>
          <div class="radio">
            <label>
              <%= f.radio_button :buying_stage, "PPT" %> PPT
            </label>
          </div>
          <div class="radio">
            <label>
              <%= f.radio_button :buying_stage, "Customer Story" %> Customer Story
            </label>
          </div>
          <div class="radio">
            <label>
              <%= f.radio_button :buying_stage, "Competitive" %> Competitive
            </label>
          </div>
          
        </div>
        <div class="form-group">
          <label for="persona">Persona</label>
          <%= f.select(:persona, ['VP Sales', 'CMO', 'Product Marketing', 'Sales Ops', 'Sales Reps','Sales Managers', 'Solution Consultants'], {include_blank: '---None---'}, { :class => 'form-control' }) %>
        </div>
        <div class="form-group">
          <label for="persona">Industry</label>
          <%= f.select(:industry, ['Finance', 'Technology', 'Telco', 'Retail', 'Manufacturing','Pharma', 'Oil&Gas'], {include_blank: '---None---'}, { :class => 'form-control' }) %>
        </div>
        -->
      </div>
      
      <div class="formSection">
        <div>
          <b style="cursor:pointer" onclick="toggleMappingPnl()">
            <%= image_tag("maximize.png", alt: "Rails logo",class: "collapseImg") %><%= image_tag("expand.png", alt: "Rails logo",class: "expandImg") %>CRM Mapping</b>
        </div>
        <div class="crmmapping" style="margin-top:10px">
          <div class="form-group">
            <label for="persona">Opportunity Stage</label>
            <%= f.select(:stage, @opp_stage_list.map{ |value| [ value, value ] }, {include_blank: '---None---'}, { :class => 'form-control' }) %>
            
          </div>
        </div>
      </div>
      <div style="text-align:right" class="btnPnl">
        <button type="submit"  class="btn btn-primary" onclick="return validate();">Save</button>
        
        <%= link_to '<button type="button" class="btn btn-default">Cancel</button>'.html_safe, home_path, class:"myBtn" %>
      </div>
      <br><br>
     
  </div>
</div>
</div>


<% end %>


<div class="modal fade" id="modalAddFolder" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="max-width:500px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
        <h3 class="section-title-inner">Add Folder</h3>
      </div>
      <%= form_for(@new_folder, :url => {:action => "addfolder"} , remote: true) do |f| %>
      <div class="modal-body">   
        <div class="row">     
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
               <label>Folder Name</label>
               <%= f.text_area :name, class:'form-control folder_field' , style:'height: 120px;', :placeholder => "Enter values for the folder picklist, with each value separated by a new line."%>
            </div>
          </div>
        </div>
       </div>
            
       <div class="modal-footer">
        <button type="submit" class="btn btn-primary" onclick="return validateFolderName();">Add</button>
        <button type="button" class="btn btn-default closemodal" data-dismiss="modal">Cancel</button>
       </div>
       <% end %>
      </div> 
    </div>
</div>

<div style="display:none">
  <%= form_for(@temp_content_item, :url => {:action => "geturlinfo"} , remote: true) do |f| %>
  <div class="modal-body">   
    <div class="row">     
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="form-group">
           <%= f.text_field :url, class:'form-control temp_url_field' %>
           <%= f.text_field :content_type, class:'form-control temp_type_field' %>
        </div>
      </div>
    </div>
   </div>
        
   <div class="modal-footer">
    <button type="submit" class="btn btn-primary temp_submit" >Submit</button>
   </div>
   <% end %>
</div>

<script>
    $(document).ready(function(){
      toggleNavmenu();
      toggleVedioPnl();
      
      $(".contentUrl").bind("change", function() {
        toggleVedioPnl();
      });
      $(".contentType").bind("change", function() {
        toggleVedioPnl();
      });
      
      $(".filebutton").bind("change", function() {
        setFileName();
      });
     
      
      $('.menu li a').click(function(){
        $('.menu li').removeClass('active');
        $(this).parent().addClass('active');
      });
       $("#input-tag").tagsinput('items');
    });
    
  function toggleVedioPnl(){
    if($(".contentUrl").val() != undefined && $(".contentUrl").val() !=''){
      $("#contentFrame").attr('src',$(".contentUrl").val());
      $(".vedioRow").show();
      if($(".contentType").val()!='Video'){
        //call api...
        $(".temp_url_field").val($(".contentUrl").val());
        $(".temp_type_field").val($(".contentType").val());
        $(".temp_submit ").click();
      }
    }else{
      $(".vedioRow").hide();
    }
  }
      
      
function toggleMappingPnl(){
  $(".crmmapping").toggle();
  $(".expandImg").toggle();
  $(".collapseImg").toggle();
}
function settags(){
  $(".tags_field").val($("#input-tag").val());
}
function setFileName(){
  var fileName='';
  var path = $('.filebutton').val();
  if(path !=''){
    var temp_list = path.split('\\');
    if(temp_list.length > 0){
      console.log(temp_list);
      fileName = temp_list[temp_list.length-1];
    }else{
      fileName = path;
    }
  }
  $(".fileName").text(fileName);
}

function validate(){
  settags();
  var isValid = true;
  var msg = '';
  $(".myRequired").each(function(){
    if($(this).val() ==''){
      isValid=false;
      msg = '<li>Title is reqired.</li>'
    }
  });
    
  if($('.filebutton').val() =='' && $(".contentUrl").val()==''){
    isValid=false;
    msg += '<li>Either upload a file or enter URL.</li>'
  }
  if(isValid==false){
    $(".myRequiredPnl").show();
    $(".myRequiredPnl ul").html(msg);
    window.scrollTo(0, 0);
  }else{
    $(".myRequiredPnl").hide();
  }
  return isValid;
}

function validateFolderName(){
   if($('.folder_field').val()=='' || $('.folder_field').val().trim() ==''){
       $('.folder_field').addClass("required");
       return false;
   }else{
     $('.folder_field').removeClass("required");
   }
   return true; 
  }
  
  // Clear folder name input after save folder or close modal
  $('#modalAddFolder').on('hide.bs.modal', function (e) {
     $('#folderName').val('');
  });
  
  
</script>
