<style>
.content-info {
   margin-left: 20px;
   margin-top: 20px;
   min-height: 130px;
  }
  .content-info h4 {
   font-size: 20px;
   font-weight: normal;
   font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  }
  .content-info h5 {
   color: dodgerblue;
   font-size: 16px;
   margin-top:20px;
  }
  .main {
   margin-bottom: 150px;
  } 
  
  .content-bottom div {
   font-size: 12px;
    color: #9197a3;
  }
  
  .content-img{
   width:100px; 
   margin-top:20%;
   margin-left:20%;
  }
  
  .archived{
   display:none;
  }
  
  .navmenu-default .navmenu-nav.dropdown-menu, .navbar-default .navbar-offcanvas .navmenu-nav.dropdown-menu {
   background-color: #f8f8f8;
  }
  
  .img-idea{
   margin-top:20px; margin-bottom:20px; margin-left:20px;
  }
  
  .nav-tabs > .active {
   border-bottom: 5px solid #3498db;
  }
  .nav{
   border:0;
  }
  .nav-tabs > li > a {
   color:black !important;
   border:0 !important;
  }
  .nav-tabs > li.active > a, 
  .nav-tabs > li.active > a:focus, 
  .nav-tabs > li.active > a:hover {
   background-color: inherit !important;
   border-color: none !important;   
  }
  
  .card-bottom-border{
   border-bottom: 1px solid #e5e5e5;
   margin: auto;
   width: 95%;
   clear: both;
  }
  
  .progress-icon{
    height: 5px !important;
    border: 1px solid;
    border-radius: 2px !important;
    width: 50px !important;
  }
  .pull-left{
   margin-left: 20px;
   margin-top: 10px;
   margin-bottom: 10px;
  }
  .pull-right{
   margin-right: 20px;
   margin-top: 10px;
   margin-bottom: 10px;
  }
  
  .card {
   background-color: #fff;
   margin-top: 20px;   
   box-shadow: 0 2px 4px 0 rgba(0,0,0,0.14);
   border-radius: 2px;
  }
  .image{
   margin-top: 30px;
   margin-bottom: 15px;
  }
  body {
    background: #f1f1f1 none repeat scroll 0 0;
}
</style>
<br/>
<div class="container">
  <div class="row">
   <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-lg-10 col-sm-10 col-xs-12">
    <ul role="tablist" class="nav nav-tabs text-center">
     <li class="col-lg-offset-4 col-sm-offset-3 col-xs-offset-0 col-lg-2 col-sm-3 col-xs-6 active">
      <a href="javascript:void(0)" class="btn-top current-tab" >CURRENT</a>
     </li>
     <li class=" col-lg-2 col-sm-3 col-xs-6 ">
      <a href="javascript:void(0)" class="btn-top archived-tab">ARCHIVED</a>
     </li>     
    </ul>
   </div>
  </div>
 </div>
<div class="container main current">
	 <% @current_readiness.each do |readiness| %>
		<div class="row ">
			 <div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-12 col-xs-12">
				  
				  
				  <div class="row card"> 
         
         <div class="content-info col-lg-8 col-md-8 col-sm-8 col-xs-8">
          <h4><%= readiness.post %></h4>
          <h5><a href="/checkreadiness?id=<%= readiness.id %>"><%= readiness.content_item.name %></a> </h5>
         </div>
         
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
           <div class="image">
             <% if readiness.content_item.attachment_url.blank? %>
     						  	<%= image_tag("play-icon.png",  :class =>"img-icon") %>
     								 <img src="<%= readiness.content_item.thumbnail %>" class="img-responsive">
     						  <% elsif readiness.content_item.attachment_url.include? ".pdf" %>
   									  <%= image_tag("Pdf.png",  :class =>"img-responsive addNew ") %>
   								  <% elsif readiness.content_item.attachment_url.include? ".ppt" %>
   									  <%= image_tag("ppt.png",  :class =>"img-responsive addNew ") %>
   								  <% end %>
           </div>
          </div> 
          
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
           <div class="card-bottom-border"></div>
          </div>  
          
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content-bottom">
            <div class="pull-left"><%= readiness.created_at.strftime("%b %d, %Y") %></div>  
            <div class="pull-right">
       						 <% if !readiness.status.blank? && readiness.status=='Completed' %> 
       						  <span>Score: <%= readiness.score %> points &nbsp; <%= image_tag("check.png", :style=>"height:20px" ) %></span>
       						 <% elsif !readiness.status.blank? && readiness.status=='In Progress' %>
       						  <%= image_tag("inprogress.png", :style=>"height:10px; border:1px solid; border-radius:4px", :class=> 'progress-icon' ) %>
       						  
       						 <% end %>
   						   </div>   
           </div>
        
        </div>
        
       </div> 
				 </div>
		<% end %>
	</div>
    
	<div class="container main archived">
		
		
		
	</div>
	<script>
	$(document).ready(function () {
   $(".readiness").addClass("active");
   $('.current-tab').click(function(){
    $('.archived-tab').parent().removeClass('active');
    $(this).parent().addClass('active');
    $('.current').show();
    $('.archived').hide();
   });
   
   $('.archived-tab').click(function(){
    $('.current-tab').parent().removeClass('active');
    $(this).parent().addClass('active');
    $('.archived').show();
    $('.current').hide();
   });   
   
  });
	</script>