<style>
.navmenu-default .navmenu-nav.dropdown-menu, .navbar-default .navbar-offcanvas .navmenu-nav.dropdown-menu {
			background-color: #f8f8f8;
		}
		 .menu ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #f3f3f3;
    }
    
   .menu li {
        float: left;
        
    }
   
		body{
			padding-top:55px !important;
		}
		.top-menu{
			background-color: #e7e7e7;
		}
		
		.content-row {
			background-color: #fff;
			margin-top: 20px;					
		}
		.content-info{
			min-height:70px;
		}
		.content-info h4 {
			color: black;
			font-size:17px;
		}
		.content-info h5 {
			color: appworkspace;
			font-size: 15px;
		}
		.img-icon {
			left: 50%;
			margin-left: -20px !important;
			margin-top: -20px !important;
			position: absolute;
			top: 50%;
			width: 40px;
			z-index: 99;
		}
</style>
<div style="border:0px;margin-bottom:0px;" class="navbar menu">
  <ul class="row navbar-nav" style="width:100%">
    <li class="col-xs-12 col-md-offset-2 col-md-8" style="font-weight:bold;padding: 10px 0px 10px 20px;font-size: 14px;">
     User List 
    </li>  
  </ul>
 </div>
<div class="container-fluid">
	<div class="row ">
		<div class="content-row col-xs-12 col-md-offset-2 col-md-8">
			<table class="table">
				<% @users.each do |user| %>
				<tr>
					<td>
						<div style="float:left"><img src="<%= user.profile_image %>" style="height:40px"></img></div>
						<div style="float:left;padding-left:10px">
						  <h4 style="margin-top:0px;margin-bottom:4px;"><%= user.name %></h4>
						  <% if user.allow_admin == true %>
						  Admin
						  <% end %>
						</div>
					</td>
				</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>
