<% provide(:url, @content_item.url) %>
<% provide(:title, @content_item.name) %>
<% provide(:image, @content_item.thumbnail ) %>
<% provide(:description,@content_item.description) %>
<br>
<div class="container-fluid">
  <div class="row vedioRow" >
    <div class="col-xs-12 col-md-offset-3 col-md-6" style="padding:0px">
      <iframe id="contentFrame" width="100%" height="315" style="border: 0px;"
        src="<%= @content_item.url %>">
      </iframe>
      <h4><%= @content_item.name %></h4>
      <p><%= @content_item.description %></p><br/>
      <center><%= link_to '<button type="button" class="btn btn-primary">Close</button>'.html_safe, home_path, class:"myBtn" %></center>
    </div>
    
  </div>
</div>