<%= form_for(@content_item) do |f| %>
  <% if @content_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@content_item.errors.count, "error") %> prohibited this content_item from being saved:</h2>

      <ul>
      <% @content_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :folder %><br>
    <%= f.text_field :folder %>
  </div>
  <div class="field">
    <%= f.label :content_type %><br>
    <%= f.select(:content_type, ["Whitepaper", "PPT","Customer Story","Competitive"], {include_blank: '---None---'}, { :class => 'form-control' }) %>
    
  </div>
  <div class="field">
    <%= f.label :tags %><br>
    <%= f.text_field :tags %>
  </div>
  <div class="field">
    <%= f.label :stage %><br>
    <%= f.select(:stage, ['Finance', 'Technology', 'Telco', 'Retail', 'Manufacturing','Pharma', 'Oil&Gas'], {include_blank: '---None---'}, { :class => 'form-control' }) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
