<style>
  .inner-addon { 
      position: relative; 
  }
  
  /* style icon */
  .inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
  }
  
  /* align icon */
  .left-addon .glyphicon  { left:  0px;}
  .right-addon .glyphicon { right: 0px;}
  
  /* add padding  */
  .left-addon input  { padding-left:  30px; }
  .right-addon input { padding-right: 30px; }
  .vedioRow{
    padding:16px;
    paddin-top:0px;
    display:none;
  }
  .formSection{
    background-color:#EEEEEE;
    padding: 4px;
    margin-top:1px;
  }
  .btnPnl{
    margin-top:30px;
  }
  .btnPnl .btn{
      width: 125px;
  }
  .headerRow{
    background-color:#EEEEEE;
  }
    .menu ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #f3f3f3;
    }
    
   .menu li {
        float: left;
        text-align:center;
    }
    
    .menu li a {
        display: inline-block;
        color: #666;
        text-align: center;
        padding: 10px 0px;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    .menu li a:hover {
        background-color: #f3f3f3;
    }
    .collapseImg{
      display:none;
    }
    
    .menu ul {
      overflow: visible;
    }
    .menu li {
      padding:0;
    }
    .menu li a {
      display: block;
    }
      .active-dot{
      font-size:13px !important;
      display:none;
      left: 50%;
      margin-top: -8px;
      margin-left: -8px;
      position: absolute;
      top: 100%;	
      z-index: 999;
      }
      .navbar ul > .active > i {
        display:block;
        }
        .menu li {
         float: left;
         text-align: left;
        }
        .menu li a {
         padding: 10px 20px;
         text-align: left;  
        }
        
</style>
<div style="border:0px;margin-bottom:0px;" class="navbar menu">
  <ul class="row navbar-nav" style="width:100%">
       
    <li class="col-xs-12 col-md-offset-2 col-md-8">
   <a href="#">
    Add New 
   </a>
    </li>  
  </ul>
 </div>
<div class="container-fluid">
  
<div class="row">
  <div class="col-xs-12 col-md-offset-2 col-md-8">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <% if @content_item.errors.any? %>
    <div>
      <div class="alert alert-danger">
        The form contains <%= pluralize(@content_item.errors.count, "error") %>.
        <ul>
      <% @content_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
      </div>
      
    </div>
  <% end %>
    <%= form_for @content_item do |f| %>
      <div class="form-group">
        <div class="inner-addon left-addon">
          <i class="glyphicon glyphicon-search"></i>
          <%= f.text_field :url,class: 'form-control contentUrl', :placeholder => "URL" %>
        </div>
        <div class="row vedioRow" >
          <div class="col-xs-12 col-md-10" style="padding:0px">
            
              <% if @content_item.attachment_url.blank? %>
        				<iframe id="contentFrame" frameborder="0" allowfullscreen src="<%= @content_item.url %>" height="300" width="100%" style="border:1px solid lightgrey">
        				</iframe>
        			<% elsif @content_item.attachment_url.include? ".pdf" %>
        				<a href="<%= @content_item.attachment_url %>" target="_blank"><%= image_tag("Pdf.png",  :class =>"img-responsive addNew ") %></a>
        			<% elsif @content_item.attachment_url.include? ".ppt" %>
				        <a href="<%= @content_item.attachment_url %>" target="_blank" ><%= image_tag("ppt.png",  :class =>"img-responsive addNew ") %></a>
			        <% end %>
          </div>
        </div>
      </div>
      <div class="formSection">
        <div class="form-group">
          <label for="title" class="required">Title</label>
          <%= f.text_field :name,class: 'form-control', :placeholder => "Title" %>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <%= f.text_area :description, class:'form-control' %>
        </div>
        <div class="form-group">
          <label for="folder" class="required">Folder</label>
          <%= f.select(:folder, @all_folders.map{ |value| [ value.name, value.name ] }, {}, { :class => 'form-control folderlist' }) %>
        </div>
        <div class="form-group">
          <label for="tags">Tags</label>
            <input id="input-tag" class="form-control" type="text" data-role="tagsinput" value="<%= @content_item.tags %>"/>
          
          
          <%= f.hidden_field :tags ,class: 'tags_field' %>
        </div>
      </div>
      
      <div class="formSection">
        <div>
          <b style="cursor:pointer" onclick="toggleMappingPnl()">
            <%= image_tag("maximize.png", alt: "Rails logo",class: "collapseImg") %><%= image_tag("expand.png", alt: "Rails logo",class: "expandImg") %>CRM Mapping</b>
        </div>
        <div class="crmmapping" style="margin-top:10px">
          <div class="form-group">
            <label for="persona">Opportunity Stage</label>
            <%= f.select(:stage, @opp_stage_list.map{ |value| [ value, value ] }, {include_blank: '---None---'}, { :class => 'form-control' }) %>
            
          </div>
        </div>
      </div>
      <div style="text-align:right" class="btnPnl">
        <button type="submit"  class="btn btn-primary" onclick="settags()">Save</button>
        <%= link_to  '<button type="button" class="btn btn-danger">Delete</button>'.html_safe, @content_item, method: :delete, data: { confirm: 'Are you sure?' }, class:"myBtn" %>
      </div>
      <br><br>
     <% end %>
  </div>
</div>
</div>
<script>
    $(document).ready(function(){
      toggleNavmenu();
      toggleVedioPnl();
      
      $(".contentUrl").bind("change", function() {
        toggleVedioPnl();
      });
      
      $('.menu li a').click(function(){
        $('.menu li').removeClass('active');
        $(this).parent().addClass('active');
      });
       $("#input-tag").tagsinput('items');
    });
    
  function toggleVedioPnl(){
    if($(".contentUrl").val() != undefined && $(".contentUrl").val() !=''){
      $("#contentFrame").attr('src',$(".contentUrl").val());
      $(".vedioRow").show();
    }else{
      $(".vedioRow").hide();
    }
  }
      
      
function toggleMappingPnl(){
  $(".crmmapping").toggle();
  $(".expandImg").toggle();
  $(".collapseImg").toggle();
}
function settags(){
  $(".tags_field").val($("#input-tag").val());
  
}
</script>
