<style>
.navmenu-default .navmenu-nav.dropdown-menu, .navbar-default .navbar-offcanvas .navmenu-nav.dropdown-menu {
			background-color: #f8f8f8;
		}
		 .menu ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #f3f3f3;
    }
    
   .menu li {
        float: left;
        
    }
   
		body{
			padding-top:55px !important;
		}
		.top-menu{
			background-color: #e7e7e7;
		}
		
		.content-row {
			background-color: #fff;
			margin-top: 20px;					
		}
		.content-info{
			min-height:70px;
		}
		.content-info h4 {
			color: black;
			font-size:17px;
		}
		.content-info h5 {
			color: grey;
			font-size: 13px;
		}
		.img-icon {
			left: 50%;
			margin-left: -20px !important;
			margin-top: -20px !important;
			position: absolute;
			top: 50%;
			width: 40px;
			z-index: 99;
		}
</style>
<div style="border:0px;margin-bottom:0px;" class="navbar menu">
  <ul class="row navbar-nav" style="width:100%">
    <li class="col-xs-12 col-md-offset-2 col-md-8" style="font-weight:bold;padding: 10px 0px 10px 20px;font-size: 14px;">
     Content List 
    </li>  
  </ul>
 </div>
<div class="container-fluid">
	
		
	<div class="row ">
		<div class="content-row col-xs-12 col-md-offset-2 col-md-8">
			<table class="table">
				<% @content_items.each do |content_item| %>
				<tr>
					<td>
						<div class="col-lg-2 col-xs-4">
						  <a href="/content_items/<%= content_item.id%>/edit">
  						  <% if content_item.attachment_url.blank? %>
  						  	<% if !content_item.thumbnail.blank? %>
  						  	<%= image_tag("play-icon.png",  :class =>"img-icon img-responsive") %>
  								<img src="<%= content_item.thumbnail %>" class="img-responsive">
  								<% end %>
  						  <% elsif content_item.attachment_url.include? ".pdf" %>
									<%= image_tag("Pdf.png",  :class =>"img-responsive addNew ") %>
								<% elsif content_item.attachment_url.include? ".ppt" %>
									<%= image_tag("ppt.png",  :class =>"img-responsive addNew ") %>
								<% end %>
  						</a>
						</div>
						<div class="col-lg-6 col-xs-8 content-info" >
							<h4><a href="/content_items/<%= content_item.id%>/edit" ><%= content_item.name %></a></h4>
							<h5>Uploaded <%= content_item.created_at.strftime("%m/%d/%y") %> 
							<% if !content_item.user.blank? %>
							by <%= content_item.user.name %>
							<% end %>
							<% if !content_item.attachment_url.blank? %>
								&nbsp;<%= number_to_human_size(content_item.attachment.file.size) %>
							<% end %>
							</h5>
							
						</div>
					</td>
				</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>
