<style>
  .inner-addon { 
      position: relative; 
  }
  
  /* style icon */
  .inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
  }
  
  /* align icon */
  .left-addon .glyphicon  { left:  0px;}
  .right-addon .glyphicon { right: 0px;}
  
  /* add padding  */
  .left-addon input  { padding-left:  30px; }
  .right-addon input { padding-right: 30px; }
  .vedioRow{
    padding:16px;
    paddin-top:0px;
    display:none;
  }
  .formSection{
    background-color:#EEEEEE;
    padding: 4px;
    margin-top:1px;
  }
  .btnPnl{
    margin-top:30px;
  }
  .btnPnl .btn{
      width: 125px;
  }
  .headerRow{
    background-color:#EEEEEE;
  }
    .menu ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #f3f3f3;
    }
    
   .menu li {
        float: left;
        text-align:center;
    }
    
    .menu li a {
        display: inline-block;
        color: #666;
        text-align: center;
        padding: 10px 0px;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    .menu li a:hover {
        background-color: #f3f3f3;
    }
    .collapseImg{
      display:none;
    }
</style>
<div class="navbar menu" style="border:0px;margin-bottom:0px;margin-top:46px;">
  <ul class="row">
      <li class="col-xs-2"><a href="#">Add New</a></li>
      <li class="col-xs-2 active"><a href="#" style="color:#639498 "><span class="glyphicon glyphicon-play-circle"></span> Vedio</a></li>
      <li class="col-xs-2"><a href="#" style="color:#7BA439"><span class="glyphicon glyphicon-blackboard"></span>  Presentation</a></li> 
      <li class="col-xs-2"><a href="#" style="color:#7C7996"><span class="glyphicon glyphicon-link"></span> Link</a></li> 
      <li class="col-xs-2"><a href="#" style="color:#FBA127"><span class="glyphicon glyphicon-camera"></span> Image</a></li> 
      <li class="col-xs-2"><a href="#" style="color:#E2B7BB"><span class="glyphicon glyphicon-file"></span> Document</a></li>
    </ul>
</div>
<div class="container-fluid">
  
<div class="row">
  <div class="col-xs-12 col-md-offset-2 col-md-8">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <% if @content_item.errors.any? %>
    <div>
      <div class="alert alert-danger">
        The form contains <%= pluralize(@content_item.errors.count, "error") %>.
        <ul>
      <% @content_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
      </div>
      
    </div>
  <% end %>
    <%= form_for @content_item, :url => {:action => "savecontent"} do |f| %>
      <div class="form-group">
        <div class="inner-addon left-addon">
          <i class="glyphicon glyphicon-search"></i>
          <%= f.text_field :url,class: 'form-control contentUrl', :placeholder => "URL" %>
        </div>
        <div class="row vedioRow" >
          <div class="col-xs-12 col-md-10" style="padding:0px">
            <iframe id="contentFrame" width="100%" height="315" style="border: 0px;"
              src="">
            </iframe>
          </div>
        </div>
      </div>
      <div class="formSection">
        <div class="form-group">
          <label for="title" class="required">Title</label>
          <%= f.text_field :name,class: 'form-control', :placeholder => "Title" %>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <%= f.text_area :tags, class:'form-control' %>
          
        </div>
        <div class="form-group">
          <label for="folder" class="required">Folder</label>
          <%= f.select(:folder, ['Trending Videos', 'Value Prop','Competitive','Persona Messages'],  {include_blank: '---None---'}, { :class => 'form-control' }) %>
        </div>
        <div class="form-group">
          <label for="type">Type</label>
          <%= f.select(:content_type, ['Whitepaper', 'PPT','Customer Story','Competitive'], {include_blank: '---None---'}, { :class => 'form-control' }) %>
        </div>
        
        <div class="form-group">
          <label for="buyingstage">Buying Stage</label>
          <%= f.select(:buying_stage, ['Whitepaper', 'PPT','Customer Story','Competitive'], {include_blank: '---None---'}, { :class => 'form-control' }) %>
          
        </div>
        <div class="form-group">
          <label for="persona">Persona</label>
          <%= f.select(:persona, ['VP Sales', 'CMO', 'Product Marketing', 'Sales Ops', 'Sales Reps','Sales Managers', 'Solution Consultants'], {include_blank: '---None---'}, { :class => 'form-control' }) %>
        </div>
        <div class="form-group">
          <label for="persona">Industry</label>
          <%= f.select(:industry, ['Finance', 'Technology', 'Telco', 'Retail', 'Manufacturing','Pharma', 'Oil&Gas'], {include_blank: '---None---'}, { :class => 'form-control' }) %>
        </div>
      </div>
      
      <div class="formSection">
        <div>
          <b style="cursor:pointer" onclick="toggleMappingPnl()">
            <%= image_tag("maximize.png", alt: "Rails logo",class: "collapseImg") %><%= image_tag("expand.png", alt: "Rails logo",class: "expandImg") %>CRM Mapping</b>
        </div>
        <div class="crmmapping" style="margin-top:10px">
          <div class="form-group">
            <label for="persona">Opportunity Stage</label>
            <%= f.select(:stage, @opp_stage_list.map{ |value| [ value, value ] }, {include_blank: '---None---'}, { :class => 'form-control' }) %>
            
          </div>
        </div>
      </div>
      <div style="text-align:right" class="btnPnl">
        <%= f.submit "Save", class: "btn btn-primary" %>
        
        <%= link_to '<button type="button" class="btn btn-danger">Cancel</button>'.html_safe, home_path, class:"myBtn" %>
      </div>
      
     <% end %>
  </div>
</div>
</div>
<script>
$(document).ready(function(){
      toggleVedioPnl();
      $(".contentUrl").bind("change", function() {
        toggleVedioPnl();
      });
      function toggleVedioPnl(){
        if($(".contentUrl").val() != undefined && $(".contentUrl").val() !=''){
          $("#contentFrame").attr('src',$(".contentUrl").val());
          $(".vedioRow").show();
        }else{
          $(".vedioRow").hide();
        }
      }
});
function toggleMappingPnl(){
  $(".crmmapping").toggle();
  $(".expandImg").toggle();
  $(".collapseImg").toggle();
  
}
</script>
