<br/><br/><br/><br/>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @content_item.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @content_item.url %>
</p>

<p>
  <strong>Folder:</strong>
  <%= @content_item.folder %>
</p>

<p>
  <strong>Type:</strong>
  <%= @content_item.content_type %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @content_item.tags %>
</p>
<p>
  <strong>Tags:</strong>
  <%= @content_item.stage %>
</p>

<%= link_to 'Edit', edit_content_item_path(@content_item) %> |
<%= link_to 'Back', content_items_path %>
