<style>
.heading-icons{
	  background-color: black;
		border-radius: 23px;
		color: #fff;
		float: right;
		font-size: 23px !important;
		padding: 8px;
		width: 40px;
		text-align:center;
	}
		
	/* iCheck Customize */
	.radio-inline, .checkbox-inline, .radio label, .checkbox label {
		padding-left: 0;
	}

	.iCheck-margin {
		margin-right: 5px;
	}
	.required{
		border-color: #a94442;
	}
		
</style>
<br>
<div class="container" id="custom_error"> 
	<div class="row">
	<div class="col-md-offset-2 col-lg-offset-3 col-lg-6 col-md-8 col-sm-10 col-xs-10">	
		<div  class="alert alert-danger custom_error" style="display:none">
	        The form contains error(s) , please review form and submit agian.
	    </div>
		<% if @readiness_event.errors.any? %>
	    <div>
	      <div class="alert alert-danger">
	        The form contains <%= pluralize(@readiness_event.errors.count, "error") %>.
	        <ul>
	      <% @readiness_event.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	      </div>
	      
	    </div>
	    <% end %>
    </div>
    </div>
	<div class="row">
		<div class="col-lg-3 col-md-2 col-sm-2 col-xs-2">
			<i class="heading-icons fa fa-file-text-o"></i>
		</div>
		<div class="col-lg-6 col-md-8 col-sm-10 col-xs-10">				
			<h4 style="font-weight:bold">Content: <%= @content_item.name %></h4>
			<% if @content_item.attachment_url.blank? %>
				<iframe id="videoFrame" frameborder="0" allowfullscreen src="<%= @content_item.url %>" height="300" width="100%" style="border:1px solid lightgrey">
				</iframe>
			<% elsif @content_item.attachment_url.include? ".pdf" %>
				<a href="<%= @content_item.attachment_url %>" target="_blank"><%= image_tag("Pdf.png",  :class =>"img-responsive addNew ") %></a>
			<% elsif @content_item.attachment_url.include? ".ppt" %>
				<a href="<%= @content_item.attachment_url %>" target="_blank" ><%= image_tag("ppt.png",  :class =>"img-responsive addNew ") %></a>
			<% end %>
		</div>
		<div class="col-lg-3 col-md-2 col-sm-2 col-xs-2"></div>
	</div>
	
	<%= form_for @readiness_event do |f| %>
	<%= f.hidden_field :content_item_id, :value =>@content_item.id %>
	<% unless @readiness_event.id.blank? %>
		<%= f.hidden_field :id, :value =>@readiness_event.id %>
	<% end %>
	<div class="row">
		<div class="col-lg-3 col-md-2 col-sm-2 col-xs-2">
			<i class="heading-icons fa fa-user"></i>
		</div>			
		<div class="col-lg-6 col-md-8 col-sm-10 col-xs-10">				
			<h4>Who do you want to target?</h4>
		    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="form-group">
				  <label> Collaboration Group? </label>
			      <%= f.text_field :collaboration_group_name,class: 'form-control', :placeholder => "Enter Group Name" %>
				</div>
				<div class="form-group">
					<label> Post: </label>
					
					<%= f.text_area :post, class:'form-control' %>
				</div>
			</div>
		</div>
		<div class="col-lg-3 col-md-2 col-sm-2 col-xs-2"></div>
	</div>
		
	<div class="row">
		<div class="col-lg-3 col-md-2 col-sm-2 col-xs-2">
			<i class="heading-icons fa fa-calendar"></i>
		</div>
		<div class="col-lg-6 col-md-8 col-sm-10 col-xs-10">				
			<h4>When will this execute?</h4>
			
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
				<div class="form-group">
					<label> Starts On: </label>
					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-7">
							<%= f.text_field :schedule_date  , class: 'form-control', id: 'startOn' %>
							<span class="caret pull-right" style="margin-top:-20px; margin-right:10px"></span>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-5">
							<%= f.hidden_field :schedule_time, :value =>@readiness_event.schedule_time , :class => 'timeHidden' %>
							<select class="form-control timePicklist" value="60">
								<option value="0">12:00 AM</option>
								<option value="30">12:30 AM</option>
								<option value="60">01:00 AM</option>
								<option value="90">01:30 AM</option>
								<option value="120">02:00 AM</option>
								<option value="150">02:30 AM</option>
								<option value="180">03:00 AM</option>
								<option value="210">03:30 AM</option>
								<option value="240">04:00 AM</option>
								<option value="270">04:30 AM</option>
								<option value="300">05:00 AM</option>
								<option value="330">05:30 AM</option>
								<option value="360">06:00 AM</option>
								<option value="390">06:30 AM</option>
								<option value="420">07:00 AM</option>
								<option value="450">07:30 AM</option>
								<option value="480">08:00 AM</option>
								<option value="510">08:30 AM</option>
								<option value="540">09:00 AM</option>
								<option value="570">09:30 AM</option>
								<option value="600">10:00 AM</option>
								<option value="630">10:30 AM</option>
								<option value="660">11:00 AM</option>
								<option value="690">11:30 AM</option>
								<option value="720">12:00 PM</option>
								<option value="750">12:30 PM</option>
								<option value="780">01:00 PM</option>
								<option value="810">01:30 PM</option>
								<option value="840">02:00 PM</option>
								<option value="870">02:30 PM</option>
								<option value="900">03:00 PM</option>
								<option value="930">03:30 PM</option>
								<option value="960">04:00 PM</option>
								<option value="990">04:30 PM</option>
								<option value="1020">05:00 PM</option>
								<option value="1050">05:30 PM</option>
								<option value="1080">06:00 PM</option>
								<option value="1110">06:30 PM</option>
								<option value="1140">07:00 PM</option>
								<option value="1170">07:30 PM</option>
								<option value="1200">08:00 PM</option>
								<option value="1230">08:30 PM</option>
								<option value="1260">09:00 PM</option>
								<option value="1290">09:30 PM</option>
								<option value="1320">10:00 PM</option>
								<option value="1350">10:30 PM</option>
								<option value="1380">11:00 PM</option>
								<option value="1410">11:30 PM</option>
							</select>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<label> Approval Workflow: </label>
					<%= f.select(:approval_workflow, ['Manager Approval', 'Executive Approval'], {include_blank: '---None---'}, { :class => 'form-control' }) %>
				</div>
				
			</div>
		</div>
	  <div class="col-lg-3 col-md-2 col-sm-2 col-xs-2"></div>
	</div>
		
	<div class="row">
			<div class="col-lg-3 col-md-2 col-sm-2 col-xs-2">
				<i class="heading-icons fa fa-check"></i>
			</div>
			<div class="col-lg-6 col-md-8 col-sm-10 col-xs-10">
				<div class="row"> 
					<h4>How will you measure readiness success?</h4>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" 
						style="border:1px dashed blue; border-radius:5px; padding:15px;">
							<div class="quen_pnl">		
							<!-- Question 1 -->
							<div class="row">			
								<div class="col-lg-1 col-md-1 col-sm-2  col-xs-2 form-group"><h4>Q1:</h4></div> 
								<div class="col-lg-11 col-md-11 col-sm-10  col-xs-10 form-group">
									<%= f.text_field :Q1  , class: 'form-control question', :placeholder => "Enter your question" %>
								</div>
							</div>
							<label>Answer Choice</label>
							<div class="row">		
								<div class="col-lg-1 col-md-1 col-sm-2  col-xs-2 form-group">
									A
								</div> 
								<div class="col-lg-11 col-md-11 col-sm-10  col-xs-10 form-group">
									<%= f.text_field :Q1_a  , class: 'form-control ans-input', :placeholder => "Enter an answer choice" %>
								</div>
							</div>
							<div class="row">		
								<div class="col-lg-1 col-md-1 col-sm-2  col-xs-2 form-group">
									B
								</div> 
								<div class="col-lg-11 col-md-11 col-sm-10  col-xs-10 form-group">
									<%= f.text_field :Q1_b  , class: 'form-control ans-input', :placeholder => "Enter an answer choice" %>
								</div>
							</div>
							<div class="row">		
								<div class="col-lg-1 col-md-1 col-sm-2  col-xs-2 form-group">
									C
								</div> 
								<div class="col-lg-11 col-md-11 col-sm-10  col-xs-10 form-group">
									<%= f.text_field :Q1_c  , class: 'form-control ans-input', :placeholder => "Enter an answer choice" %>
								</div>
							</div>
							<div class="row">		
								<div class="col-lg-1 col-md-1 col-sm-2  col-xs-2 form-group">
									D
								</div> 
								<div class="col-lg-11 col-md-11 col-sm-10  col-xs-10 form-group">
									<%= f.text_field :Q1_d  , class: 'form-control ans-input', :placeholder => "Enter an answer choice" %>
								</div>
							</div>										
							<br>		
							<div class="row">	
								<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<label>Correct Answer</label>
									<%= f.text_field :ans1  , class: 'form-control ans-input', :placeholder => "Enter correct answer" %>
								</div>
							</div>							
							<hr>
							</div>
							<div class="quen_pnl">	
							<!-- Question 2 -->
							<div class="row">			
								<div class="col-lg-1 col-md-1 col-sm-2  col-xs-2 form-group"><h4>Q2:</h4></div> 
								<div class="col-lg-11 col-md-11 col-sm-10  col-xs-10 form-group">
									<%= f.text_field :Q2  , class: 'form-control question', :placeholder => "Enter your question" %>
								</div>
							</div>
							<label>Answer Choice</label>
							<div class="row">		
								<div class="col-lg-1 col-md-1 col-sm-2  col-xs-2 form-group">
									A
								</div> 
								<div class="col-lg-11 col-md-11 col-sm-10  col-xs-10 form-group">
									<%= f.text_field :Q2_a  , class: 'form-control ans-input', :placeholder => "Enter an answer choice" %>
								</div>
							</div>
							<div class="row">		
								<div class="col-lg-1 col-md-1 col-sm-2  col-xs-2 form-group">
									B
								</div> 
								<div class="col-lg-11 col-md-11 col-sm-10  col-xs-10 form-group">
									<%= f.text_field :Q2_b  , class: 'form-control ans-input', :placeholder => "Enter an answer choice" %>
								</div>
							</div>
							<div class="row">		
								<div class="col-lg-1 col-md-1 col-sm-2  col-xs-2 form-group">
									C
								</div> 
								<div class="col-lg-11 col-md-11 col-sm-10  col-xs-10 form-group">
									<%= f.text_field :Q2_c  , class: 'form-control ans-input', :placeholder => "Enter an answer choice" %>
								</div>
							</div>
							<div class="row">		
								<div class="col-lg-1 col-md-1 col-sm-2  col-xs-2 form-group">
									D
								</div> 
								<div class="col-lg-11 col-md-11 col-sm-10  col-xs-10 form-group">
									<%= f.text_field :Q2_d  , class: 'form-control ans-input', :placeholder => "Enter an answer choice" %>
								</div>
							</div>					
							<br>		
							<div class="row">	
								<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<label>Correct Answer</label>
									<%= f.text_field :ans2  , class: 'form-control ans-input', :placeholder => "Enter correct answer" %>
								</div>
							</div>							
							<hr>
							</div>
							<div class="quen_pnl">	
							<!-- Question 3 -->
							<div class="row">			
								<div class="col-lg-1 col-md-1 col-sm-2  col-xs-2 form-group"><h4>Q3:</h4></div> 
								<div class="col-lg-11 col-md-11 col-sm-10  col-xs-10 form-group">
									<%= f.text_field :Q3  , class: 'form-control question', :placeholder => "Enter your question" %>
								</div>
							</div>
							<label>Answer Choice</label>
							<div class="row">		
								<div class="col-lg-1 col-md-1 col-sm-2  col-xs-2 form-group">
									A
								</div> 
								<div class="col-lg-11 col-md-11 col-sm-10  col-xs-10 form-group">
									<%= f.text_field :Q3_a  , class: 'form-control ans-input', :placeholder => "Enter an answer choice" %>
								</div>
							</div>
							<div class="row">		
								<div class="col-lg-1 col-md-1 col-sm-2  col-xs-2 form-group">
									B
								</div> 
								<div class="col-lg-11 col-md-11 col-sm-10  col-xs-10 form-group">
									<%= f.text_field :Q3_b  , class: 'form-control ans-input', :placeholder => "Enter an answer choice" %>
								</div>
							</div>
							<div class="row">		
								<div class="col-lg-1 col-md-1 col-sm-2  col-xs-2 form-group">
									C
								</div> 
								<div class="col-lg-11 col-md-11 col-sm-10  col-xs-10 form-group">
									<%= f.text_field :Q3_c  , class: 'form-control ans-input', :placeholder => "Enter an answer choice" %>
								</div>
							</div>
							<div class="row">		
								<div class="col-lg-1 col-md-1 col-sm-2  col-xs-2 form-group">
									D
								</div> 
								<div class="col-lg-11 col-md-11 col-sm-10  col-xs-10 form-group">
									<%= f.text_field :Q3_d  , class: 'form-control ans-input', :placeholder => "Enter an answer choice" %>
								</div>
							</div>
							<br>		
							<div class="row">	
								<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<label>Correct Answer</label>
									<%= f.text_field :ans3  , class: 'form-control ans-input', :placeholder => "Enter correct answer" %>
								</div>
							</div>							
							<hr>
							</div>
					</div>
					
				</div>
				
			</div>			
			<div class="col-lg-3 col-md-2"></div>
		</div>
		
	
	<div class="row">
		<br><br><br>
		<div class="col-lg-3 col-md-2 col-sm-2 col-xs-2">				
		</div>
		<div class="col-lg-6 col-md-8 col-sm-10 col-xs-10" style="text-align:right">				
			<button type="submit" onclick="return validate();"class="btn btn-primary" style="margin-right:20px">Save</button>				
			<%= link_to  '<button type="button" class="btn btn-danger">Delete</button>'.html_safe, @readiness_event, method: :delete, data: { confirm: 'Are you sure?' }, class:"myBtn" %>
			
		</div>
		<div class="col-lg-3 col-md-2 col-sm-2 col-xs-2"></div>
		<br><br><br>
	</div>
	<% end %>	
</div>	
<script>
$(document).ready(function () {
	// Init check box and radio button ui 
	initCheckbox();		    
	
	// Init bootstrap Datepicker
	$('#startOn').datepicker({
		format: "yyyy-mm-dd"				
	}).on('changeDate', function(e){
		$(this).datepicker('hide');
	}); 
	$(".timePicklist").val("<%= @readiness_event.schedule_time %>")
});

function initCheckbox(){
	$('input').iCheck({
		checkboxClass: 'icheckbox_minimal-blue',
		radioClass: 'iradio_minimal-blue',
		checkboxClass: 'icheckbox_square-blue iCheck-margin',
		radioClass: 'iradio_square-blue iChk iCheck-margin'
	});
}
function validate(){
	$(".timeHidden").val($(".timePicklist").val());
	var isValid = true;
	$(".quen_pnl").each(function(){
		if($(this).find('.question').val() != ''){
			$(this).find('input').each(function(){
				if($(this).val()==''){
					$(this).addClass('required');
					isValid = false
				}else{
					$(this).removeClass('required');
				}
			});
		}else{
			$(this).find('input').each(function(){
				$(this).removeClass('required');
			});
		}
	});
	
	if(isValid==false){
		$(".custom_error").show();
		window.scrollTo(0, 0);
	}else{
		$(".custom_error").hide();
	}
	return isValid;
}
</script>