<style>
.navmenu-default .navmenu-nav.dropdown-menu, .navbar-default .navbar-offcanvas .navmenu-nav.dropdown-menu {
			background-color: #f8f8f8;
		}
		 .menu ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #f3f3f3;
    }
    
   .menu li {
        float: left;
        
    }
   
		body{
			padding-top:55px !important;
		}
		.top-menu{
			background-color: #e7e7e7;
		}
		
		.content-row {
			background-color: #fff;
			margin-top: 20px;					
		}
		.content-info{
			min-height:70px;
		}
		.content-info h4 {
			color: black;
			font-size:17px;
		}
		.content-info h5 {
			color: grey;
			font-size: 14px;
		}
		.img-icon {
			left: 50%;
			margin-left: -20px !important;
			margin-top: -20px !important;
			position: absolute;
			top: 50%;
			width: 40px;
			z-index: 99;
		}
</style>
<div style="border:0px;margin-bottom:0px;" class="navbar menu">
  <ul class="row navbar-nav" style="width:100%">
    <li class="col-xs-12 col-md-offset-2 col-md-8" style="font-weight:bold;padding: 10px 0px 10px 20px;font-size: 14px;">
     Readiness Activity List 
    </li>  
  </ul>
 </div>
<div class="container-fluid">
	
		
	<div class="row ">
		<div class="content-row col-xs-12 col-md-offset-2 col-md-8">
			<table class="table">
				<% if !@rediness_activities.blank? %>
				<% @rediness_activities.each do |activity| %>
				<tr>
					<td>
						<div class="col-lg-2 col-xs-4 col-md-2 col-sm-2">
						  <a href="/readiness_events/<%= activity.id%>/edit">
  						  <% if activity.content_item.attachment_url.blank? %>
  						  	<% if !activity.content_item.thumbnail.blank? %>
  						  	<%= image_tag("play-icon.png",  :class =>"img-icon img-responsive") %>
  								<img src="<%= activity.content_item.thumbnail %>" class="img-responsive">
  						  	<% end %>
  						  <% elsif activity.content_item.attachment_url.include? ".pdf" %>
									<%= image_tag("Pdf.png",  :class =>"img-responsive addNew ") %>
								<% elsif activity.content_item.attachment_url.include? ".ppt" %>
									<%= image_tag("ppt.png",  :class =>"img-responsive addNew ") %>
								<% end %>
  						</a>
						</div>
						
						<div class="col-lg-8 col-xs-6 col-md-8 col-sm-8 content-info" >
							<h4><a href="/readiness_events/<%= activity.id%>/edit" ><%= activity.content_item.name %></a></h4>
							<h5>
							<table style="width:100%"><tr><td style="width:50%">
							Created <%= activity.created_at.strftime("%m/%d/%y") %>
							</td><td>
							<% if !activity.schedule.blank? && activity.schedule > Time.now %>
								<span style="color:#FFBF00;">Schedule <%= activity.schedule.strftime("%m/%d/%y %I:%M%p") %> </span>
							<% elsif !activity.schedule.blank?%>
								<span style="color:green;">Published <%= activity.schedule.strftime("%m/%d/%y %I:%M%p") %> </span>
							<% end %>
							</td><tr></table>
							</h5>
						</div>
						<div class="col-lg-2 col-xs-2 col-md-2 col-sm-2">
							<a href="/dashboard?id=<%= activity.id %>"><%= image_tag("Dashboard.png",  :class =>"pull-right" , :style=>"margin-top:5px;height:25px") %></a>
						</div>	
							
					</td>
				</tr>
				<% end %>
				<% else %>
				<tr>
					<td>
						<div class="col-lg-2 col-xs-4">
						  No record found.
						</div>
					</td>
				</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>


