/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.navbar{
			margin : 0;
			border-radius : 0;
			border : 0;
		}
		.navbar-toggle{
			margin-left : 15px;
		}
		
		/* Custom style for slider navigation buttons.*/
		
		#owl-slider .item{
		  display: block;		 
		  color: #FFF;
		  -webkit-border-radius: 3px;
		  -moz-border-radius: 3px;
		  border-radius: 3px;
		  text-align: center;
		}
		.owl-theme .owl-controls .owl-buttons div {
		  padding: 10px 18px;
		}
		 
		.owl-theme .owl-buttons i{
		  margin-top: 2px;
		}
 
		/*To move navigation buttons outside use these settings:*/
		 
		.owl-theme .owl-controls .owl-buttons div {
		  position: absolute;
		}
		 
		.owl-theme .owl-controls .owl-buttons .owl-prev{
		  left: 0;
		  top: 150px; 
		}
		 
		.owl-theme .owl-controls .owl-buttons .owl-next{
		  right: 0;
		  top: 150px;
		}
		
		
		.image a {
			display: block;
			overflow: hidden;
		}
		.quickview {
			display: block;
			margin-top: 40%;
			max-height: 50px;
			position: absolute;
			text-align: center;
			visibility: hidden;
			width: 100%;
			z-index: 2;
		}
		.btn-quickview {
			border-radius: 2px;
			font-family: "Oswald", Helvetica Neue, Arial, sans-serif;
			letter-spacing: 2px;
			color: #454545 !important;
			text-transform: uppercase;
			background: #fff; /* old borwser */
			background: rgba(255, 255, 255, 0.9);
			border: 1px solid #eee;
			box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
			-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
			-ms-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
			-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
			-moz-o-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
			left: auto;
			min-width: 100px;
			max-height: 40px;
			height: 40px !important;
			opacity: 0;
			-webkit-opacity: 0;
			-ms-opacity: 0;
			padding: 10px;
			visibility: hidden;
			width: auto;
			display: inline-block !important;
			z-index: 2;
			transform: scale(0.75);
			-webkit-transform: scale(0.75);
			-o-transform: scale(0.75);
			-ms-transform: scale(0.75);
			-moz-transform: scale(0.75);
			transition: all 0.3s ease 0s;
			-webkit-transition: all 0.3s ease 0s;
			-webkit-transition: all 0.3s ease 0s;
			-moz-transition: all 0.3s ease 0s;
			-ms-transition: all 0.3s ease 0s;
		}
			
		body{
			padding-top:54px;
		}	
		
		.addContent{
			/*display:none;*/
		}
		.glyphicon-user{
			color:#fff !important;
		}
		
		html, body {
			height: 100%;
		}

		body {
		  padding: 50px 0 0 0;
		}

		.navbar-toggle {
		  /*float: left;
		  margin-left: 15px;*/
		}

		@media (min-width: 0) {
		  .navbar-toggle {
			/*display: block;  force showing the toggle */
		  }
		}

		@media (min-width: 992px) {
			body {
				padding: 0;
			}
			.navbar {
				/*right: auto;
				background: none;
				border: none;*/
			}
		}
		
		body{
			padding-top:9px !important;
		}
		.canvas-sliding{
			-webkit-transition:top .0s,left .10s, bottom .0s,right .10s !important;
			transition:top .0s,left .10s,bottom .0s,right .10s !important;
		}
		
		.layOver {
			background-color: black;
			height: 100%;
			opacity: 0.4;
			position: fixed;
			top: 55px;
			width: 100%;
			z-index: 9999;
			display:none;
		}
		
		.nav.navmenu-nav a span {
			color: inherit !important;
		}
		.fa{
			font-size:17px !important;
		}
		.img-icon {
			left: 50%;
			margin-left: -35px !important;
			margin-top: -35px !important;
			position: absolute;
			top: 50%;
			width: 70px;
			z-index: 9999;
		}	
.required:after { content:" *";color:red; }
.field_with_errors{
  padding: 0px !important;
  display:inline !important;
  background: transparent !important;
  
}

a:hover{
  color:inherit !important;
}

