@import "bootstrap-sprockets";
@import "bootstrap";
.field_with_errors {
  @extend .has-error !optional;
  .form-control {
    
  }
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}